<div class="card__bg">
    <p class="card__text  justify-content-center">{{name}}</p>
    <p class="card__text" style="padding-top: 10px;">Category: {{category}}</p>
    <p class="card__text" style="padding-top: 2px;">Price: {{price}} $</p>
    <p class="card__text justify-content-end">Quantity: {{quantity}}</p>

    <div class="card__add">
        <input type="number" value="{{wantedQuantity}}" (change)="handleChange($event)" min="1" max="{{quantity}}">
        <button class="card__button" (click)="saveProduct()"> 
            <mat-icon aria-hidden="false" class="icon-display" aria-label="Shopping cart icon" fontIcon="shopping_cart"></mat-icon>
        </button>
    </div>

</div>
